WebContent/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.railroad.mdp.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.railroad.mdp.etf.unibl.org" xmlns:intf="http://soap.railroad.mdp.etf.unibl.org" xmlns:tns1="http://model.railroad.mdp.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.railroad.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.railroad.mdp.etf.unibl.org"/>
   <element name="deactivate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deactivateResponse">
    <complexType>
     <sequence>
      <element name="deactivateReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType>
     <sequence>
      <element name="createUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.railroad.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="active" nillable="true" type="xsd:int"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="locationId" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deactivateResponse">

      <wsdl:part element="impl:deactivateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deactivateRequest">

      <wsdl:part element="impl:deactivate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User">

      <wsdl:operation name="deactivate">

         <wsdl:input message="impl:deactivateRequest" name="deactivateRequest">

       </wsdl:input>

         <wsdl:output message="impl:deactivateResponse" name="deactivateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserSoapBinding" type="impl:User">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deactivate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deactivateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deactivateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserService">

      <wsdl:port binding="impl:UserSoapBinding" name="User">

         <wsdlsoap:address location="http://localhost:8080/RailroadCentral/services/User"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
